<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<!-- Large lease times so services and other remote objects won't expire -->
		<lifetime leaseTime="20H" sponsorshipTimeout="5M" renewOnCallTime="20H" leaseManagerPollTime="5M"/>
		<application>
			<channels>
				<!-- IPC channel template -->
				<channel portName="TEST"
					secure="true" impersonate="false"
					type="System.Runtime.Remoting.Channels.Ipc.IpcChannel, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
				<!-- TCP secure channel template -->
				<channel port="3331"
					secure="true" impersonate="false"
					type="System.Runtime.Remoting.Channels.Tcp.TcpChannel, System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
			</channels>
		</application>
		<customErrors mode="off"/>
		<runtime>
			<gcConcurrent enabled="false"/>
		</runtime>
	</system.runtime.remoting>
</configuration>